<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itracker.android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- EXTERNAL_STORAGE permissions are optional for Android 6.0 onwards. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <!-- A camera with RAW capability is required to use this application -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- required for setIsSyncable -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <!-- required for GCM -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.itracker.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.itracker.android.permission.C2D_MESSAGE" />

    <application
        android:name="com.itracker.android.Application"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="allowBackup, label, icon">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.itracker.android.ui.activity.TrackerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <data android:scheme="amp59b6d367575c8798a17acb0-9ccf239a-d9ac-11e5-aa99-00342b7f5075" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.itracker.android.ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.itracker.android.ui.activity.AccountViewerActivity"
            android:parentActivityName="com.itracker.android.ui.activity.TrackerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itracker.android.ui.activity.TrackerActivity" />
        </activity>

        <activity
            android:name="com.itracker.android.ui.activity.AccountInfoEditorActivity"
            android:parentActivityName="com.itracker.android.ui.activity.AccountViewerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itracker.android.ui.activity.AccountViewerActivity" />
        </activity>

        <activity
            android:name="com.itracker.android.ui.activity.FootprintActivity"
            android:label="@string/title_activity_footprint"
            android:parentActivityName="com.itracker.android.ui.activity.TrackerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itracker.android.ui.activity.TrackerActivity" />
        </activity>

        <activity
            android:name="com.itracker.android.ui.activity.PhotoDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName="com.itracker.android.ui.activity.TrackerActivity"
            android:theme="@style/TranslucentSystemBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itracker.android.ui.activity.TrackerActivity" />
        </activity>

        <activity
            android:name="com.itracker.android.ui.activity.MediaDownloadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_downloads"
            android:parentActivityName="com.itracker.android.ui.activity.TrackerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itracker.android.ui.activity.TrackerActivity" />

            <intent-filter>
                <action android:name="com.itracker.android.intent.action.DOWNLOAD_MEDIA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.itracker.android.ui.activity.PlayerActivity"
            android:exported="true"
            android:label="PlayerActivity"
            android:parentActivityName="com.itracker.android.ui.activity.TrackerActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/TranslucentSystemBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itracker.android.ui.activity.TrackerActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- http://blog.csdn.net/jason0539/article/details/10049899 -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.itracker.android.ui.activity.ContactAddActivity"
            android:label="@string/title_activity_add_contact"
            android:parentActivityName="com.itracker.android.ui.activity.TrackerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itracker.android.ui.activity.TrackerActivity" />
        </activity>

        <activity
            android:name="com.itracker.android.ui.activity.ChatViewerActivity"
            android:parentActivityName="com.itracker.android.ui.activity.TrackerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itracker.android.ui.activity.TrackerActivity" />
        </activity>

        <activity
            android:name="com.itracker.android.ui.activity.ContactViewerActivity"
            android:parentActivityName="com.itracker.android.ui.activity.TrackerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itracker.android.ui.activity.TrackerActivity" />
        </activity>

        <activity
            android:name="com.itracker.android.ui.activity.ContactEditorActivity"
            android:parentActivityName="com.itracker.android.ui.activity.TrackerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.itracker.android.ui.activity.TrackerActivity" />
        </activity>

        <activity
            android:name="com.itracker.android.ui.activity.AuthenticatorActivity"
            android:label="@string/login_label"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.itracker.android.provider.TrackerProvider"
            android:authorities="com.itracker.android"
            android:exported="false"
            android:label="@string/provider_name" />

        <service android:name="com.itracker.android.service.sensor.AppPersistentService" />

        <!-- Authenticator related service -->
        <service android:name="com.itracker.android.service.auth.AuthenticateService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- Player related service -->
        <service
            android:name="com.itracker.android.player.MediaPlayerService"
            android:enabled="true"
            android:exported="true" />

        <!-- Sync adapter related service -->
        <service
            android:name="com.itracker.android.sync.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <!-- File download related service -->
        <service
            android:name="com.itracker.android.service.download.FileDownloadService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.itracker.android.intent.action.DOWNLOAD_FILE" />
                <action android:name="com.itracker.android.intent.action.UPDATE_STATUS" />
            </intent-filter>
        </service>

        <!-- FCM related service -->
        <service
            android:name=".service.fcm.AppMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.fcm.AppInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!-- Sensor data related service -->
        <service
            android:name="com.itracker.android.service.sensor.SensorMonitorService"
            android:exported="false" />

        <receiver
            android:name="com.itracker.android.receiver.SensorMonitorReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.itracker.android.intent.action.START_SENSOR_MONITOR" />
                <action android:name="com.itracker.android.intent.action.BOOTSTRAP_MONITOR_ALARM" />
                <action android:name="android.intent.action.BOOT_COMPLETED" /> />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <!-- Service related to restore data from s3 -->
        <service
            android:name="com.itracker.android.sync.DataImportService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name="com.itracker.android.sync.DataImportReceiver">
            <intent-filter>
                <action android:name="com.itracker.android.intent.action.IMPORT_DATA" />
            </intent-filter>
        </receiver>

        <!-- [START Localytics Integration] -->
        <meta-data
            android:name="LOCALYTICS_APP_KEY"
            android:value="dcdf9cb70fff87655848357-8f7e9180-385a-11e4-a3d0-009c5fda0a25" />

        <!-- <activity android:name="com.itracker.android.PushTrackingActivity"/> -->


        <!-- <receiver -->
        <!-- android:name="com.itracker.android.ReferralReceiver" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.android.vending.INSTALL_REFERRER" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
    </application>

</manifest>